
.classes-section {
	background: #151515;
	padding-bottom: 80px;
}

.classes-section .section-title {
	margin-bottom: 35px;
    text-align: center;
    color: #ffffff;
}
.classes-section .section-title span{
    color: #f36100;
    

}

.class-item {
	overflow: hidden;
	margin-bottom: 30px;
}

.class-item .ci-pic img {
	width: 100%;
}

.class-item .ci-text {
	background: #0a0a0a;
	position: relative;
	padding: 10px 30px 26px 30px;
	z-index: 1;
}

.class-item .ci-text:after {
	position: absolute;
	left: -5px;
	top: -44px;
	height: 100px;
	width: 600px;
	border-top: 5px solid gray;
	background: #0a0a0a;
    
} 

.class-item .ci-text span {
	color: #f36100;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
}

.class-item .ci-text h5 {
	font-size: 20px;
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 4px;
}

.class-item .ci-text h4 {
	font-size: 26px;
	color: #ffffff;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 4px;
}

.class-item .ci-text a {
	display: inline-block;
	width: 46px;
	height: 46px;
	background: gray;
	line-height: 46px;
	text-align: center;
	font-size: 25px;
	color: #ffffff;
	position: absolute;
	right: 30px;
	bottom: 26px;
    text-decoration: none;
}

.hero-section-2 {
    
    width: 100%;
    height: 70vh;
    background-image: url("img/gallery-1.jpg.webp");
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; 
    z-index: 1; 
    overflow: hidden; 
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 2;
}
.content {
    z-index: 3; 
    color: white; 
    text-align: center;
    max-width: 800px;
    padding: 20px;
}

.content h1 {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.content p {
    font-size: 17px; 
    margin-bottom: 30px;
    opacity: 0.9;
}
.appointment-btn {
    display: inline-block;
    padding: 12px 30px;
    font-size:17px;
    text-decoration:none; 
    cursor: pointer;
    color: #ffffff;
    border: 2px solid #ff9900;
    border-radius: 3px; 
    
   
}

.appointment-btn:hover {
    background-color: #ff9900; 
    border-color: #ff9900;
}
